

    <div class="aside-data">
        <h3>Données</h3>
        <p>Data example</p>
    </div>
    <div class="aside-image">
        <h3>Images</h3>
        <p>Image example</p>
    </div>
    <div class="aside-info">
        <h3>Infos</h3>
        <p>Infos example</p>
    </div>
    <div id="birdView" class="aside-birdview birdView">
        <h3>Birdview</h3>
    </div>