<aside class="d-flex column align-start space-between">
    <div class="aside-data">
        <h3>Données</h3>
        <p>Data example</p>
    </div>
    <div class="aside-image">
        <h3>Images</h3>
        <p>Image example</p>
    </div>
    <div class="aside-info">
        <h3>Infos</h3>
        <p>Infos example</p>
    </div>
    <div class="aside-birdview">
        <h3>Birdview</h3>
        <img src="" alt="">
    </div>
</aside>