<div class="right-side__clusters">
    <div class="d-flex">
        <h3>Clusters</h3>
        <div class="help-bubble">?</div>
    </div>
    <div class="layout">
        <ul>
            <li class="agglomerat"><img src="./images/triangle-bleu.svg" class="triangle" alt="triangle"
                    title="Voir plus"><span>Agglomérat 1</span>
                <ul>
                    <li class="cluster">Cluster 1</li>
                    <li class="cluster">Cluster 2</li>
                </ul>
            </li>
            <li class="agglomerat"><img src="./images/triangle-bleu.svg" class="triangle" alt="triangle"
                    title="Voir plus"><span>Agglomérat 2</span>
                <ul>
                    <li class="cluster">Cluster 3</li>
                </ul>
            </li>
            <li class="agglomerat"><img src="./images/triangle-bleu.svg" class="triangle" alt="triangle"
                    title="Voir plus"><span>Agglomérat 3</span>
                <ul>
                    <li class="cluster">Cluster 4</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="right-side__operations">
        <div>
            <h4>Opérations sur le cluster :</h4>
            <span>
                <button class="btn-sm btn-second" title="Colorier"><i class="fa-solid fa-paintbrush"></i></button>
                <button class="btn-sm btn-second" title="Diviser"><i class="fa-solid fa-burst"></i></button>
                <button class="btn-sm btn-second" title="Fusionner"><i class="fa-solid fa-burst"></i></button>
                <button class="btn-sm btn-second" title="Retirer"><i class="fa-solid fa-broom"></i></button>
                <button class="btn-sm btn-second" title="Nouvelle itération"><i class="fa-solid fa-arrow-rotate-left"></i></button>
            </span>
        </div>
        <div>
            <h4>Hierarchie :</h4>
            <div>
                <div>
                    <label for="level">Expand to level : </label>
                    <input type="number" name="expand" id="level">
                </div>
                <div>
                    <label for="max">Expand to level : </label>
                    <button type="submit" id="max" class="btn-sm btn-primary"><i
                            class="fa-solid fa-arrow-right-long"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="right-side__infos">
    <div>
        <!--<table>
            <tr>
                <th>Name</th>
                <td>Agglomérat 1</td>
                <td>Agglomérat 2</td>
                <td>Agglomérat 3</td>
            </tr>
            <tr>
                <th>Color</th>
                <td><input type="color" name="agglo1" id="agglo1"></td>
                <td><input type="color" name="agglo2" id="agglo2"></td>
                <td><input type="color" name="agglo3" id="agglo3"></td>
            </tr>
            <tr>
                <th>Cardinality</th>
                <td>303584</td>
                <td>458612</td>
                <td>846318</td>
            </tr>
        </table>-->
    </div>
</div>