@import "variables";

.container{
    background-image: url('../images/nasa2.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    overflow-y: hidden;
    height: calc(100vh - 60px);
}
.container-interface{
    background: linear-gradient(67.02deg, #CDDCFB -6.23%, #FFFFFF 104.33%);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    height: calc(100vh - 60px);
    position: absolute;
    right: 0;
    flex-grow: 1;
    .fil-arianne{
        margin: 1vh 5vw;
        a{
            color: $bleu-nuit;
        }
    }
    .image-import
    {
        &-duo{
            overflow-y: auto;
        }
        &__view{
            margin: 5vh 3vw;
            .carte{
                background-color: $blanc;
                border-radius: 11px 11px 0 0;
                .divImage{
                    overflow-y: auto;
                    width: 45vw;
                    height: 60vh;
                    min-height: 150px;
                    min-height: 150px;
                    cursor: grab;
                    user-select: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                      pointer-events: none;
                      user-select: none;
                      width: auto;
                      height: 80%;
                    }
                  }
            }
           
            .toolbar{
                background-color: $bleu-saphir;
                border-radius: 0 0 11px 11px;
                padding: 1vh 2vw;
                i{
                    color: $blanc;
                    font-size: 25px;
                    margin: 0 2px;
                }
                img{
                    height: 25px;
                    width: auto;
                    margin: 0 2px;
                }
                .contrastPlus{
                    height: 30px;
                }
            }
        }
    }
    .comparaison{
        .col{
            width: 95%;
            .juxtapose{
                box-sizing: content-box;
                border: 15px solid $bleu-ciel;
                border-radius: 20px;
                height: 500px !important;
                width: 400px !important;
            }
            .difference{
                width: 80%;
                margin: 0 auto;
                img{
                    border: 15px solid $bleu-ciel;
                    border-radius: 20px;
                }
                
            }
        }
    }
    .infobar{
        background-color: $blanc;
        border-top: 1px solid $bleu-nuit;
        height: 5vh;
        min-height: 40px;
        width: 100%;
        color: $bleu-nuit;
        .projet-name{
            font-weight: bolder;
        }
    }

    .generate-section{
        background-color: $bleu-ciel;
        width: calc(100% - 30px);
        margin: 15px;
        padding: 15px;
        border-radius: 11px;
        &__parametres{
            background-color: $blanc;
            padding: 10px 15px;
            border-radius: 20px;
            margin-top: 25px;
            h5{
                font-weight: normal;
                margin: 0 0 10px 0;

            }
        }
        &__row{
            margin-bottom: 10px;
            .file-name{
                color: $bleu-nuit;
                background-color: $blanc;
                margin-left: 5px;
                border-radius: 5px;
                padding: 0 5px;
            }
            input{
                margin: 0 5px;
            }
            input#mask{
                display: none;
            }
           label{
            .fake-input{
                background-color: $bleu-nuit;
                color: $blanc;
                border-radius: 11px;
                padding: 0 5px;
                margin: 0 5px;
            }
           }
        }
       
    }
    .button-group{
        margin-bottom: 5vh;
    }
    .datapanel{
        width: 95%;
        height: 100%;
        border: 2px solid $bleu-nuit;
        margin: 10px auto;
        border-radius: 20px;
        .onglet{
            background-color: $bleu-nuit;
            color: $blanc;
            width: 100%;
            position: relative;
            height: 45px;
            margin-bottom: 40px;
            border-radius: 17px 17px 0 0;
            span{
                line-height: 45px;
                text-align: center;
            }
            .btn-close{
                line-height: inherit;
            }
        }
        &-content{
            width: 100%;
            padding-top: 5vh;
            &__left{
                .histogram{
                    background-color: $blanc;
                    width: 50vw;
                    border-radius: 11px;
                    padding: 5vh 2vw;
                    h3{
                        margin-top: 0;
                    }
                    img{
                        max-width: 600px;
                        width: 100%;
                    }
                }
            }
             &__right{
                // .actual-relation{
                //     color: $blanc;
                //     background-color: $bleu-nuit;
                //     border-radius: 20px;
                //     padding: 10px 20px;
                // }
                .accordeon{
                    width: 30vw;
                }
             }
        }
        &-menu{
            margin: 50px 0;
        }
        
    }
    .classification{
        width: 95%;
        border: 2px solid $bleu-nuit;
        margin: 10px auto;
        height: 100%;
        border-radius: 20px;
        .onglet{
            background-color: $bleu-nuit;
            color: $blanc;
            width: 100%;
            position: relative;
            height: 45px;
            margin-bottom: 40px;
            border-radius: 17px 17px 0 0;
            span{
                line-height: 45px;
                text-align: center;
            }
            .btn-close{
                line-height: inherit;
            }
        }
        &-section{
            background-color: $bleu-ciel;
            width: calc(100% - 30px);
            margin: 15px;
            padding: 15px;
            border-radius: 11px;
            select{
                border: 1.5px solid #030233;
                padding: 0.5rem 1rem;
                background-color: #fff;
                border-radius: 21px;
                -webkit-border-radius: 21px;
                -moz-border-radius: 21px;
                -ms-border-radius: 21px;
                -o-border-radius: 21px;
                margin-bottom: 15px;
                width: 30%;
            }
        }
        div{
            input{
                border: none;
            }
            margin-bottom: 10px;
            button{
                margin-left: 5px;
            }
            a{
                color: $bleu-nuit;
                text-decoration: underline;
            }
            h3+a{
                margin-left: 15px;
            }
        }
        a{
            button{
                margin: 3vh 0;
            }
        }
    }
    .modal-window{
        z-index: 20;
        .accordeon{
            margin-top: 50px;
            max-height: 400px;
            width: 50vw;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        button{
            margin-bottom: 10px;
        }
        .commentaires{
            border: 1px solid;
            border-radius: 20px;
            width: 50%;
            min-height: 400px;
            margin: 15px;
        }
    }
    .results{
        width: 95%;
        border: 2px solid $bleu-nuit;
        margin: 10px auto;
        border-radius: 20px;
        &-content{
            padding: 5px;
        }
        .onglet{
            background-color: $bleu-nuit;
            color: $blanc;
            position: relative;
            height: 45px;
            margin-bottom: 20px;
            border-radius: 17px 17px 0 0;
            span{
                line-height: 45px;
                text-align: center;
            }
            i{
                font-size: 1.35em;
            }
            .btn-close{
                line-height: inherit;
                position: relative;
                top: 0;
                right: 0;
            }
        }
        &-col{
            overflow-y: auto;
            &__left{
                background-color: $bleu-saphir;
                color: $blanc;
                padding: 10px 20px;
                border-radius: 11px;
                .stats-results{

                width: 100%;
                    &__section{
                        background-color: $blanc;
                        color: $bleu-nuit;
                        padding: 10px;
                        select{
                            border: 1px solid $bleu-nuit;
                            border-radius: 20px;
                            background-color: $blanc;
                            height: 1.5em;
                        }
                    }
                    &__image{
                        width: 100%;
                        background-color: $blanc;
                        margin-bottom: 3vh;
                        #myDiv{
                            margin: 0 auto;
                            height: calc(256px * 2.3);
                            width: calc(219px * 2.3);
                        }
                    }
                }
                .view-mode{
                    h3{
                        margin-top: 0;
                    }
                }
                .button-menu{
                    flex-wrap: wrap;
                    border-top: $bleu-nuit 2px solid;
                    padding-bottom: .5vh;
                    background-color: $blanc;
                    a{
                        color: $bleu-nuit;
                        padding: .5vh .3vw;
                        border-radius: 0px 0px 11px 11px;
                    }
                    a.active{
                        background-color: $bleu-nuit;
                        color: $blanc;
                    }
                }
            }
            &__right{
                margin-left: 25px;
                width: 30%;
                .right-side{
                    &__clusters{
                        background-color: $bleu-saphir;
                        color: $blanc;
                        padding: 15px;
                        border-radius: 11px;
                        h3{
                            margin-top: 0;
                        }
                        .layout{
                            background-color: $blanc;
                            padding: 5px;
                            border-radius: 11px;
                            margin-bottom: 10px;
                            max-height: 300px;
                            overflow-y: auto;
                            ul{
                                li{
                                    color: $bleu-nuit;
                                    user-select: none;
                                    line-height: 32px;
                                }
                                .racine ul li:hover{
                                    background-color: $bleu-saphir;
                                    color: $blanc;
                                }
                                .cluster{
                                    text-indent: 1em;
                                    display: none;
                                }
                                .triangle-rotate{
                                    transform: rotate(-90deg);
                                }
                            }
                        }
                        .hierarchy{
                            background-color: $blanc;
                            color: $bleu-nuit;
                            padding: 5px;
                            border-radius: 11px;
                            h4{
                                margin-bottom: 10px;
                            }
                            input, button{
                                width: 5vw;
                            }
                            button{
                                padding: 0;
                            }
                        }
                    }
                    &__infos{
                        border-radius: 11px;
                        background-color: $bleu-saphir;
                        padding: 15px;
                        border-radius: 11px;
                        margin-top: 15px;
                        h4{
                            color: $blanc;
                            margin-bottom: .5vh;
                        }
                        button{
                            border: none;
                            margin-top: .3vh;
                            padding: .5vh 1.5vw;
                        }
                        .divTable{
                            background-color: $blanc;
                            overflow-y: auto;
                            max-height: 250px;
                            padding: .5vh .5vw;
                            border-radius: 5px;
                            margin: 1vh;
                            td,th{
                                border: 1px solid $bleu-nuit;
                                border-collapse: collapse;
                                padding: 2px;
                                text-align: center;
                            }
                            table{
                                border-collapse: collapse;
                                width: 100%;
                                th{
                                    color: $blanc;
                                    background-color: $bleu-nuit;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
body{
    header{
        nav{
            background-color: $bleu-nuit;
            min-height: 60px;
            height: 5vh;
            color: $blanc;
            i{
                font-size: 2em;
            }
            .nav{
                &-logo{
                    img{
                        width: 80px;
                        height: 80px;
                    }
                   
                }
                &-links{
                    ul{
                        flex-grow: 3;
                        li{
                            margin: 0 15px;
                        }
                    }

                }
                &-support{
                        li{
                            
                            img{
                                height: 23px;
                                width: 23px;
                                margin: 0 10px;
                            }
                            img:nth-child(0n + 3) {
                                height: 15px;
                                width: 15px;
                            }
                        }
                    
                }
            }
        }
    }

    main{
        flex-grow: 1;
        aside{
            background-color: $blanc;
            box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
            padding: 10px;
            width: 15vw;
            min-width: 150px;
            padding-top: 30px;
            left: 0;
            z-index: 15;
            flex-shrink: 0;
            animation: slide 0.3s ease-in-out;
            @keyframes slide {
                0% {
                    transform: translateX(-100%)
                }
                100% {
                    transform: translateX(0%)
                }
            }
            .aside{
               
                &-data{
                    background-color: $bleu-aside-fonce;
                }
                &-image, &-image, &-info, &-birdview{
                    background-color: $bleu-aside;
                }
            }
            div{
                width: 100%;
                color: $blanc;
                border-radius: 4px;
                min-height: 150px;
                padding: 0 15px;
                margin-bottom: 15px;
            }
            #birdView{
                margin: 0;
            }

        }
        .preproject{
            color: $bleu-nuit;
            background: rgba(255, 255, 255, 0.4);
            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(5px);
            border-radius:15px;
            color: $bleu-nuit;
            margin: auto;
            padding: 15px;
            &-row{
                margin-bottom: 20px;
                img{
                    vertical-align: middle;
                    margin-right: 35px;
                }
                a{
                    color: $bleu-nuit;
                }
                &.openproject{
                    background-color: $blanc;
                    width: 100%;
                    padding: 15px 0;
                    border-radius: 45px;
                }
            }
        }
    }
}

// @media (min-height: 900px) {
//     main{
//         aside{
//             height: 100vh;
//         }
//         // .button-group{
//         //     margin-bottom: 60px;
//         // }
//     }
// }