@import "variables";

.container{
    background-image: url('../images/iss065e385549.jpg');
    min-height: calc(100vh - 80px);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-interface{
    width: 100%;
    min-height: calc(100vh - 80px);
    background: linear-gradient(67.02deg, #CDDCFB -6.23%, #FFFFFF 104.33%);
    padding: 50px 0;
    
    .image-import
    {
        &-duo{
            width: 100%;
        }
        &__view{
            .image{
                box-sizing: border-box;
                border: 15px solid $bleu-30;
                border-bottom: none;
                border-radius: 11px 11px 0 0;
                img{
                    width: 580px;
                    height: auto;
                }
            }
            .toolbar{
                background-color: $bleu-saphir;
                border-radius: 0 0 11px 11px;
                padding: 5px 25px;
            }
        }
        &__button{
            margin-top: 50px;
        }
    }
    .infobar{
        background-color: $blanc;
        border-top: 1px solid $bleu-nuit;
        position: absolute;
        top: calc(100% - 5vh);
        height: 5vh;
        width: calc(100% - 235px);
        color: $bleu-nuit;
        .projet-name{
            font-weight: bolder;
        }
    }

    .generate-section{
        background-color: $bleu-ciel;
        width: calc(100% - 30px);
        margin: 15px;
        padding: 15px;
        border-radius: 20px;
        &__parametres{
            background-color: $blanc;
            padding: 10px 15px;
            border-radius: 20px;
            margin-top: 25px;
            h5{
                font-weight: normal;
                margin: 0 0 10px 0;

            }
        }
        &__row{
            margin-bottom: 10px;
            .file-name{
                color: $bleu-nuit;
                background-color: $blanc;
                margin-left: 5px;
                border-radius: 5px;
                padding: 0 5px;
            }
            input{
                margin: 0 5px;
            }
            input#mask{
                border: 1px solid $bleu-nuit;
                border-radius: 11px;
            }
           
        }
    }
    .modal-window{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        &__content {
            background-color: $blanc;
            margin: auto;
            border: 3px solid $bleu-nuit;
            width: 80%;
            top: 40%;
            left: 10%;
            position: absolute;
            border-radius: 20px;
            .onglet{
                background-color: $bleu-nuit;
                width: 100%;
                color: $blanc;
                border-radius: 15px 15px 0 0;
                height: 40px;
                text-align: center;
                line-height: 40px;
            }
            input#dataname{
                min-width: 730px;
                height: 40px;
            }
            .btn-group{
                margin-top: 35px;
                margin-bottom: 15px;
            }
          }
    }
    .datapanel{
        height: 95%;
        width: 95%;
        border: 2px solid $bleu-nuit;
        margin: auto;
        &-content{
            width: 100%;
            &__left{
                .accordeon{
                    line-height: 35px;
                    width: 50vw;
                    &-title{
                        background-color: $blanc;
                        border: 2px solid $bleu-nuit;
                        margin: 0;
                        padding-left: 5px;
                    }
                    &-content{
                        background-color: $bleu-ciel;
                        p{
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
body{
    header{
        nav{
            background-color: $bleu-nuit;
            min-height: 80px;
            height: 5vh;
            color: $blanc;
            .nav{
                &-logo{
                    img{
                        width: 110px;
                        height: 110px;
                        
                    }
                    align-self: flex-start;
                    z-index: 5;
                }

                &-links{
                    ul{
                        flex-grow: 3;
                        li{
                            margin: 0 15px;
                        }
                    }
                }
                &-support{
                    img{
                        margin: 0 10px;
                    }
                }
            }
        }
    }

    main{
        min-height: calc(100% - 80px);
        aside{
            background-color: $blanc;
            box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
            padding: 10px;
            min-width: 235px;
            z-index: -1;
            padding-top: 40px;
            .aside{
                
                &-data{
                    background-color: $bleu-aside-fonce;
                }
                &-image, &-image, &-info, &-birdview{
                    background-color: $bleu-aside;
                }
            }
            div{
                width: 100%;
                color: $blanc;
                min-height: 180px;
                border-radius: 4px;
                padding: 0 15px;
            }
        }
        .preproject{
            background: rgba(255, 255, 255, 0.37);
            backdrop-filter: blur(8px);
            border-radius: 21px;
            color: $bleu-nuit;
            margin: auto;
            width: 30vw;
            min-height: 350px;
            padding: 15px;
            &-row{
                margin-bottom: 20px;
                img{
                    vertical-align: middle;
                    margin-right: 35px;
                }
                a{
                    color: $bleu-nuit;
                }
                &.openproject{
                    background-color: $blanc;
                    width: 100%;
                    padding: 15px 0;
                    border-radius: 45px;
                }
            }
        }
    }
}