@import "variables";

.container{
    background-image: url('../images/nasa2.jpg');
    min-height: calc(100vh - 60px);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}
.container-interface{
    width: 100%;
    min-height: calc(100vh - 60px);
    background: linear-gradient(67.02deg, #CDDCFB -6.23%, #FFFFFF 104.33%);
    padding: 10px 0;
    z-index: 10;
    overflow-y: auto;
    .image-import
    {
        &-duo{
            width: 100%;
            overflow-y: scroll;
        }
        &__view{
            .carte{
                background-color: $bleu-30;
                .divImage{
                    overflow: auto;
                    width: 500px;
                    height: 500px;
                    cursor: grab;
                    user-select: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                      pointer-events: none;
                      user-select: none;
                    }
                  }
            }
           
            .toolbar{
                background-color: $bleu-saphir;
                border-radius: 0 0 11px 11px;
                padding: 5px 25px;
            }
        }
        &__button{
            margin-top: 50px;
        }
    }
    .comparaison{
        .col{
            width: 95%;
            .juxtapose{
                box-sizing: content-box;
                border: 15px solid $bleu-ciel;
                border-radius: 20px;
                height: 500px !important;
                width: 400px !important;
            }
            .difference{
                width: 80%;
                margin: 0 auto;
                img{
                    border: 15px solid $bleu-ciel;
                    border-radius: 20px;
                }
                
            }
        }
    }
    .infobar{
        background-color: $blanc;
        border-top: 1px solid $bleu-nuit;
        position: absolute;
        top: calc(100% - 5vh);
        bottom: 0;
        height: 5vh;
        width: calc(100% - 235px);
        color: $bleu-nuit;
        .projet-name{
            font-weight: bolder;
        }
    }

    .generate-section{
        background-color: $bleu-ciel;
        width: calc(100% - 30px);
        margin: 15px;
        padding: 15px;
        border-radius: 11px;
        &__parametres{
            background-color: $blanc;
            padding: 10px 15px;
            border-radius: 20px;
            margin-top: 25px;
            h5{
                font-weight: normal;
                margin: 0 0 10px 0;

            }
        }
        &__row{
            margin-bottom: 10px;
            .file-name{
                color: $bleu-nuit;
                background-color: $blanc;
                margin-left: 5px;
                border-radius: 5px;
                padding: 0 5px;
            }
            input{
                margin: 0 5px;
            }
            input#mask{
                border: 1px solid $bleu-nuit;
                border-radius: 11px;
            }
           
        }
    }
    .datapanel{
        height: 95%;
        width: 95%;
        border: 2px solid $bleu-nuit;
        margin: auto;
        border-radius: 20px;
        .onglet{
            background-color: $bleu-nuit;
            color: $blanc;
            width: 100%;
            position: relative;
            height: 45px;
            margin-bottom: 40px;
            border-radius: 17px 17px 0 0;
            span{
                line-height: 45px;
                text-align: center;
            }
            .btn-close{
                line-height: inherit;
            }
        }
        &-content{
            width: 100%;
            &__left{
                .class-number{
                    background-color: $bleu-nuit;
                    border-radius: 20px;
                    color: $blanc;
                    line-height: 45px;
                    padding-left: 25px;
                }
            }
            &__right{
                .actual-relation{
                    color: $blanc;
                    background-color: $bleu-nuit;
                    border-radius: 20px;
                    padding: 10px 20px;
                }
                .histogram{
                    background-color: $bleu-ciel;
                    padding: 10px 20px;
                    border-radius: 20px;
                    margin-top: 10px;
                }
            }
        }
        &-menu{
            margin-top: 50px;
        }
        
    }
    .classification{
        height: 95%;
        width: 95%;
        border: 2px solid $bleu-nuit;
        margin: auto;
        border-radius: 20px;
        .onglet{
            background-color: $bleu-nuit;
            color: $blanc;
            width: 100%;
            position: relative;
            height: 45px;
            margin-bottom: 40px;
            border-radius: 17px 17px 0 0;
            span{
                line-height: 45px;
                text-align: center;
            }
            .btn-close{
                line-height: inherit;
            }
        }
        &-section{
            background-color: $bleu-ciel;
            width: calc(100% - 30px);
            margin: 15px;
            padding: 15px;
            border-radius: 11px;
            select{
                border: 1.5px solid #030233;
                padding: 0.5rem 1rem;
                background-color: #fff;
                border-radius: 21px;
                -webkit-border-radius: 21px;
                -moz-border-radius: 21px;
                -ms-border-radius: 21px;
                -o-border-radius: 21px;
                margin-bottom: 15px;
                width: 30%;
            }
        }
        div{
            input{
                border: none;
            }
            margin-bottom: 10px;
            button{
                margin-left: 5px;
            }
            a{
                color: $bleu-nuit;
                text-decoration: underline;
            }
            h3+a{
                margin-left: 15px;
            }
        }
    }
    .modal-window{
        
        .accordeon{
            margin-top: 50px;
            max-height: 400px;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        button{
            margin-bottom: 10px;
        }
        .commentaires{
            border: 1px solid;
            border-radius: 20px;
            width: 50%;
            min-height: 400px;
            margin: 15px;
        }
    }
    .results{
        border: 2px solid $bleu-nuit;
        margin: 0 10px;
        border-radius: 20px;
        height: calc(100vh - 80px - 5vh - 10px);
        &-content{
            padding: 5px;
        }
        .onglet{
            background-color: $bleu-nuit;
            color: $blanc;
            position: relative;
            height: 45px;
            margin-bottom: 20px;
            border-radius: 17px 17px 0 0;
            span{
                line-height: 45px;
                text-align: center;
            }
            i{
                font-size: 1.35em;
            }
            .btn-close{
                line-height: inherit;
                position: relative;
                top: 0;
                right: 0;
            }
        }
        &-col{
            height: calc(80vh - 20px);
            overflow-y: auto;
            &__left{
                background-color: $bleu-saphir;
                color: $blanc;
                width: 70%;
                padding: 10px 20px;
                border-radius: 11px;
                .stats-results{

                width: 100%;
                    &__section{
                        background-color: $blanc;
                        color: $bleu-nuit;
                        padding: 10px;
                        select{
                            border: 1px solid $bleu-nuit;
                            border-radius: 20px;
                            background-color: $blanc;
                            height: 1.5em;
                        }
                    }
                    &__image{
                        width: 100%;
                        background-color: $blanc;
                        #myDiv{
                            margin: 0 auto;
                            height: calc(256px * 2.3);
                            width: calc(219px * 2.3);
                        }
                    }
                }
                .view-mode{
                    h3{
                        margin-top: 0;
                    }
                }
                .button-menu{
                    width: 60%;
                    min-width: 150px;
                    flex-wrap: wrap;
                    max-height: 100px;
                }
            }
            &__right{
                margin-left: 25px;
                width: 30%;
                .right-side{
                    &__clusters{
                        background-color: $bleu-saphir;
                        color: $blanc;
                        padding: 15px;
                        border-radius: 11px;
                        h3{
                            margin-top: 0;
                        }
                        .layout{
                            background-color: $blanc;
                            padding: 5px;
                            border-radius: 11px;
                            margin-bottom: 10px;
                        }
                    }
                    &__operations{
                        background-color: $bleu-ciel;
                        color: $bleu-nuit;
                        padding: 15px;
                        border-radius: 11px;
                    }
                    &__infos{
                        border-radius: 11px;
                        background-color: $bleu-saphir;
                        padding: 15px;
                        border-radius: 11px;
                        margin-top: 15px;
                        div{
                            background-color: $blanc;
                            overflow-x: scroll;
                            td,th{
                                border: 1px solid $bleu-nuit;
                                border-collapse: collapse;
                                padding: 2px;
                                text-align: center;
                            }
                            table{
                                border-collapse: collapse;
                            }
                        }
                    }
                }
            }
        }
    }
}
body{
    header{
        nav{
            background: linear-gradient(to top, $bleu-nuit, #06045c);
            min-height: 60px;
            height: 5vh;
            color: $blanc;
            .nav{
                &-links{
                    ul{
                        flex-grow: 3;
                        li{
                            margin: 0 15px;
                        }
                    }
                }
                &-support{
                    position: relative;
                    left: 150px;
                    img{
                        height: 23px;
                        width: 23px;
                        margin: 0 10px;
                    }
                    img:nth-child(0n + 3) {
                        height: 15px;
                        width: 15px;
                    }
                }
            }
        }
    }

    main{
        min-height: calc(100% - 60px);
        aside{
            background-color: $blanc;
            box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
            padding: 10px;
            min-width: 235px;
            padding-top: 30px;
            .aside{
                &-logo{
                    img{
                        width: 80px;
                        height: 80px;
                        
                    }
                    align-self: flex-start;
                    z-index: 6;
                    position: absolute;
                    top: 0;
                    left: 50px;
                }
                &-data{
                    background-color: $bleu-aside-fonce;
                }
                &-image, &-image, &-info, &-birdview{
                    background-color: $bleu-aside;
                }
            }
            div{
                width: 100%;
                color: $blanc;
                border-radius: 4px;
                min-height: 150px;
                padding: 0 15px;
                margin-bottom: 20px;
                 height: 100%;
            }

        }
        .preproject{
            color: $bleu-nuit;
            background: rgba(255, 255, 255, 0.4);
            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(5px);
            border-radius:15px;
            color: $bleu-nuit;
            margin: auto;
            width: 30vw;
            height: 30vh;
            padding: 15px;
            &-row{
                margin-bottom: 20px;
                img{
                    vertical-align: middle;
                    margin-right: 35px;
                }
                a{
                    color: $bleu-nuit;
                }
                &.openproject{
                    background-color: $blanc;
                    width: 100%;
                    padding: 15px 0;
                    border-radius: 45px;
                }
            }
        }
    }
}