//Colors variables
$bleu-nuit : #030233;
$bleu-saphir : #2D75EE;
$vert : #14ab23;
$rouge : #e80444;
$blanc : #ffffff;
$bleu-aside-fonce : #0046CACC;
$bleu-aside : #336BD5A8;
$bleu-30 : #0046ca4d;
$bleu-ciel : #B3C7EF;