@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap");
.accueil-langue__selection h3 {
  text-align: center;
}

.accueil-langue__selection ul {
  margin-top: 20px;
}

.accueil-langue__selection ul li {
  margin-bottom: 15px;
  padding: 15px 35px;
}

.accueil-langue__selection ul li img {
  vertical-align: middle;
  margin-right: 5px;
}

.accueil-langue__selection ul li:hover {
  background: linear-gradient(189.43deg, #2D75EE 7.12%, rgba(0, 70, 202, 0.54) 240.92%);
  border-radius: 47px;
}

.accueil-langue__selection ul .selected {
  background: linear-gradient(189.43deg, #030233 7.12%, #2D75EE 240.92%);
  border-radius: 47px;
}

.accueil-didactiel__slider {
  background-color: #ffffff;
  width: 100%;
  padding: 15px;
  color: #030233;
}

.accueil-connexion__form {
  min-width: 400px;
}

.accueil-connexion__form h3 {
  text-align: center;
}

.accueil-connexion__form form .form-label {
  border: none;
  background-color: #ffffff;
  border-radius: 21px;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}

.accueil-connexion__form form .form-label::-webkit-input-placeholder {
  color: #030233;
}

.accueil-connexion__form form .form-label:-ms-input-placeholder {
  color: #030233;
}

.accueil-connexion__form form .form-label::-ms-input-placeholder {
  color: #030233;
}

.accueil-connexion__form form .form-label::placeholder {
  color: #030233;
}

.accueil-connexion__form form div {
  width: 100%;
}

.accueil-connexion__form form button {
  width: 100%;
  margin-top: 20px;
  background-color: #030233;
  border-radius: 29px;
  padding: 15px;
  border: none;
  color: #ffffff;
}

.accueil-connexion__form p a {
  color: #030233;
}

.accueil-connexion__form .form-links a {
  display: block;
}

.accueil-connexion a:hover {
  text-decoration: underline;
}

.container {
  background-image: url("../images/iss065e385549.jpg");
  min-height: calc(100vh - 80px);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-interface {
  width: 100%;
  min-height: calc(100vh - 80px);
  background: linear-gradient(67.02deg, #CDDCFB -6.23%, #FFFFFF 104.33%);
  padding: 50px 0;
}

.container-interface .image-import-duo {
  width: 100%;
}

.container-interface .image-import__view .image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 15px solid #0046ca4d;
  border-bottom: none;
  border-radius: 11px 11px 0 0;
}

.container-interface .image-import__view .image img {
  width: 580px;
  height: auto;
}

.container-interface .image-import__view .toolbar {
  background-color: #2D75EE;
  border-radius: 0 0 11px 11px;
  padding: 5px 25px;
}

.container-interface .image-import__button {
  margin-top: 50px;
}

.container-interface .infobar {
  background-color: #ffffff;
  border-top: 1px solid #030233;
  position: absolute;
  top: calc(100% - 5vh);
  bottom: 0;
  height: 5vh;
  width: calc(100% - 235px);
  color: #030233;
}

.container-interface .infobar .projet-name {
  font-weight: bolder;
}

.container-interface .generate-section {
  background-color: #B3C7EF;
  width: calc(100% - 30px);
  margin: 15px;
  padding: 15px;
  border-radius: 11px;
}

.container-interface .generate-section__parametres {
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 20px;
  margin-top: 25px;
}

.container-interface .generate-section__parametres h5 {
  font-weight: normal;
  margin: 0 0 10px 0;
}

.container-interface .generate-section__row {
  margin-bottom: 10px;
}

.container-interface .generate-section__row .file-name {
  color: #030233;
  background-color: #ffffff;
  margin-left: 5px;
  border-radius: 5px;
  padding: 0 5px;
}

.container-interface .generate-section__row input {
  margin: 0 5px;
}

.container-interface .generate-section__row input#mask {
  border: 1px solid #030233;
  border-radius: 11px;
}

.container-interface .datapanel {
  height: 95%;
  width: 95%;
  border: 2px solid #030233;
  margin: auto;
  border-radius: 20px;
}

.container-interface .datapanel .onglet {
  background-color: #030233;
  color: #ffffff;
  width: 100%;
  position: relative;
  height: 45px;
  margin-bottom: 40px;
  border-radius: 17px 17px 0 0;
}

.container-interface .datapanel .onglet span {
  line-height: 45px;
  text-align: center;
}

.container-interface .datapanel .onglet .btn-close {
  line-height: inherit;
}

.container-interface .datapanel-content {
  width: 100%;
}

.container-interface .datapanel-content__left .class-number {
  background-color: #030233;
  border-radius: 20px;
  color: #ffffff;
  line-height: 45px;
  padding-left: 25px;
}

.container-interface .datapanel-content__right .actual-relation {
  color: #ffffff;
  background-color: #030233;
  border-radius: 20px;
  padding: 10px 20px;
}

.container-interface .datapanel-content__right .histogram {
  background-color: #B3C7EF;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 10px;
}

.container-interface .datapanel-menu {
  margin-top: 50px;
}

.container-interface .classification {
  height: 95%;
  width: 95%;
  border: 2px solid #030233;
  margin: auto;
  border-radius: 20px;
}

.container-interface .classification .onglet {
  background-color: #030233;
  color: #ffffff;
  width: 100%;
  position: relative;
  height: 45px;
  margin-bottom: 40px;
  border-radius: 17px 17px 0 0;
}

.container-interface .classification .onglet span {
  line-height: 45px;
  text-align: center;
}

.container-interface .classification .onglet .btn-close {
  line-height: inherit;
}

.container-interface .classification-section {
  background-color: #B3C7EF;
  width: calc(100% - 30px);
  margin: 15px;
  padding: 15px;
  border-radius: 11px;
}

.container-interface .classification-section select {
  border: 1.5px solid #030233;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 21px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  -ms-border-radius: 21px;
  -o-border-radius: 21px;
  margin-bottom: 15px;
  width: 30%;
}

.container-interface .classification div {
  margin-bottom: 10px;
}

.container-interface .classification div input {
  border: none;
}

.container-interface .classification div button {
  margin-left: 5px;
}

.container-interface .classification div a {
  color: #030233;
  text-decoration: underline;
}

.container-interface .classification div h3 + a {
  margin-left: 15px;
}

.container-interface .modal-window .accordeon {
  margin-top: 50px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container-interface .modal-window button {
  margin-bottom: 10px;
}

.container-interface .modal-window .commentaires {
  border: 1px solid;
  border-radius: 20px;
  width: 50%;
  min-height: 400px;
  margin: 15px;
}

.container-interface .results {
  height: 95%;
  width: 95%;
  border: 2px solid #030233;
  margin: auto;
  border-radius: 20px;
  overflow-y: hidden;
}

.container-interface .results-content {
  padding: 15px;
}

.container-interface .results .onglet {
  background-color: #030233;
  color: #ffffff;
  width: 100%;
  position: relative;
  height: 45px;
  margin-bottom: 40px;
  border-radius: 17px 17px 0 0;
}

.container-interface .results .onglet span {
  line-height: 45px;
  text-align: center;
}

.container-interface .results .onglet i {
  font-size: 1.35em;
}

.container-interface .results .onglet .btn-close {
  line-height: inherit;
  position: relative;
  top: 0;
  right: 0;
}

.container-interface .results-col {
  width: 100%;
  height: 100%;
}

.container-interface .results-col__left {
  background-color: #2D75EE;
  color: #ffffff;
  width: 60%;
  height: 80%;
  padding: 10px 20px;
  border-radius: 11px;
}

.container-interface .results-col__left .stats-results__section {
  background-color: #ffffff;
  color: #030233;
  padding: 10px;
}

.container-interface .results-col__left .stats-results__section select {
  border: 1px solid #030233;
  border-radius: 20px;
  background-color: #ffffff;
  height: 1.5em;
}

.container-interface .results-col__left .view-mode h3 {
  margin-top: 0;
}

.container-interface .results-col__left .button-menu {
  width: 60%;
  min-width: 150px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 100px;
}

.container-interface .results-col__right {
  margin-left: 25px;
}

.container-interface .results-col__right .right-side__clusters {
  background-color: #2D75EE;
  color: #ffffff;
  padding: 15px;
  border-radius: 11px;
}

.container-interface .results-col__right .right-side__clusters h3 {
  margin-top: 0;
}

.container-interface .results-col__right .right-side__clusters .layout {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 11px;
  margin-bottom: 10px;
}

.container-interface .results-col__right .right-side__operations {
  background-color: #B3C7EF;
  color: #030233;
  padding: 15px;
  border-radius: 11px;
}

.container-interface .results-col__right .right-side__infos {
  border-radius: 11px;
  background-color: #2D75EE;
  padding: 15px;
  border-radius: 11px;
  margin-top: 15px;
}

.container-interface .results-col__right .right-side__infos div {
  background-color: #ffffff;
}

.container-interface .results-col__right .right-side__infos div td, .container-interface .results-col__right .right-side__infos div th {
  border: 1px solid #030233;
  border-collapse: collapse;
  padding: 2px;
  text-align: center;
}

.container-interface .results-col__right .right-side__infos div table {
  border-collapse: collapse;
}

body header nav {
  background-color: #030233;
  min-height: 80px;
  height: 5vh;
  color: #ffffff;
}

body header nav .nav-logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  z-index: 5;
}

body header nav .nav-logo img {
  width: 110px;
  height: 110px;
}

body header nav .nav-links ul {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

body header nav .nav-links ul li {
  margin: 0 15px;
}

body header nav .nav-support img {
  margin: 0 10px;
}

body main {
  min-height: calc(100% - 80px);
}

body main aside {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
  padding: 10px;
  min-width: 235px;
  z-index: -1;
  padding-top: 40px;
}

body main aside .aside-data {
  background-color: #0046CACC;
}

body main aside .aside-image, body main aside .aside-image, body main aside .aside-info, body main aside .aside-birdview {
  background-color: #336BD5A8;
}

body main aside div {
  width: 100%;
  color: #ffffff;
  min-height: 180px;
  border-radius: 4px;
  padding: 0 15px;
}

body main .preproject {
  background: rgba(255, 255, 255, 0.37);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 21px;
  color: #030233;
  margin: auto;
  width: 30vw;
  min-height: 350px;
  padding: 15px;
}

body main .preproject-row {
  margin-bottom: 20px;
}

body main .preproject-row img {
  vertical-align: middle;
  margin-right: 35px;
}

body main .preproject-row a {
  color: #030233;
}

body main .preproject-row.openproject {
  background-color: #ffffff;
  width: 100%;
  padding: 15px 0;
  border-radius: 45px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1em;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  background-image: url("../images/nasa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-self-start {
  justify-self: flex-start;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.display-block {
  display: block !important;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accueil {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.37);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 21px;
  width: 60vw;
  min-height: 350px;
  padding: 15px;
}

.accueil .logo {
  width: 110px;
  height: 110px;
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
}

.btn {
  text-align: center;
  border-radius: 45px;
  padding: 15px 55px;
  border: none;
}

.btn-primary {
  background-color: #030233;
  color: #ffffff;
  border: 3px solid #030233;
}

.btn-second {
  background-color: #ffffff;
  color: #030233;
  border: 3px solid #030233;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-sm {
  padding: 5px;
  border-radius: 20px;
  border: 2px solid #030233;
}

.help-bubble {
  background-color: #030233;
  color: #ffffff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  margin: 0 5px;
}

.btn-close {
  background-color: #e80444;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 100px;
  top: 10px;
  line-height: 20px;
  cursor: pointer;
}

input[type=text], input[type=number] {
  border: 1px solid #030233;
  border-radius: 20px;
}

.btn-anim-green {
  position: relative;
  background: #14ab23;
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.btn-anim-green:before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle, #39c4068a 0%, #38811b 100%);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width 0.2s ease, height 0.2s ease;
  transition: width 0.2s ease, height 0.2s ease;
}

.btn-anim-green:hover:before {
  --size: 200px;
}

.btn-anim-green span {
  position: relative;
}

.btn-anim-red {
  position: relative;
  background: #e80444;
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.btn-anim-red:before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle, #af08088a 0%, #811b1b 100%);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width 0.2s ease, height 0.2s ease;
  transition: width 0.2s ease, height 0.2s ease;
}

.btn-anim-red:hover:before {
  --size: 200px;
}

.btn-anim-red span {
  position: relative;
}

.accordeon {
  line-height: 35px;
  width: 50vw;
  margin-bottom: 50px;
  border-bottom: 2px solid #030233;
}

.accordeon-title {
  background-color: #ffffff;
  border: 2px solid #030233;
  border-bottom: none;
  margin: 0;
  padding: 0 50px;
  padding-left: 5px;
  z-index: 3;
}

.accordeon-title p {
  margin: 0;
}

.accordeon-content {
  display: none;
  background-color: #B3C7EF;
  z-index: -2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.accordeon-content p {
  margin: 0;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-35px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-35px);
            transform: translateY(-35px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.modal-window {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-window__content {
  background-color: #ffffff;
  margin: auto;
  border: 3px solid #030233;
  width: 80%;
  top: 40%;
  left: 10%;
  position: absolute;
  border-radius: 20px;
}

.modal-window__content .onglet {
  background-color: #030233;
  width: 100%;
  color: #ffffff;
  border-radius: 15px 15px 0 0;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.modal-window__content input#dataname {
  min-width: 730px;
  height: 40px;
}

.modal-window__content .btn-group {
  margin-top: 35px;
  margin-bottom: 15px;
}

.modal-window div .data-table {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 660px;
  width: 50%;
  margin: 10px auto;
}

.modal-window div .data-table table {
  border-collapse: collapse;
  width: 100%;
}

.modal-window div .data-table thead {
  background-color: #030233;
  color: #ffffff;
  text-align: center;
}

.modal-window div .data-table td {
  border: 1px solid #030233;
}
/*# sourceMappingURL=style.css.map */