@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap');
@import "variables";
@import "langue";
@import "didactiel";
@import "connexion";
@import "interface";

//Style général
* {
    box-sizing: border-box;
}
@font-face {
    font-family: Futura;
    src: url('../font/Futura_Book_font.ttf');
}   
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Futura', 'Nunito Sans', sans-serif;
    font-size: 1em;
}
ul{
    padding: 0;
    li{
        list-style-type: none;
    }
}
a{
    text-decoration: none;
    color: $blanc;
}
main{
    overflow-x: hidden;
}

.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.column{
    flex-direction: column;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.justify-self-start{
    justify-self: flex-start;
}
.justify-start{
    justify-content: flex-start;
}
.align-start{
    align-items: flex-start;
}
.align-self-center{
    align-self: center;
}
.display-block{
    display: block !important;
}
.display-none{
    display: none;
}
.align-self-start{
    align-self: flex-start;
}
.align-end{
    align-items: flex-end;
}
.w-85{
    width: 85vw !important;
}
///////////////////////// 
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.accueil{
    color: $bleu-nuit;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius:15px;
    width: 60vw;
    min-height: 350px;
    padding: 15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
}
.btn{
    text-align: center;
    border-radius: 45px;
    line-height: 2em;
    border: none;
    &-primary{
        background-color: $bleu-nuit;
        color: $blanc;
        border: 3px solid $bleu-nuit;
    }
    &-second{
        background-color: $blanc;
        color: $bleu-nuit;
        border: 3px solid $bleu-nuit;
        box-sizing: border-box;
        a{
            color: $bleu-nuit;
        }
    }
    &-sm{
        padding: 5px;
        border-radius: 20px;
        border: 2px solid $bleu-nuit;
    }
}
.help-bubble{
    background-color: $bleu-nuit;
    color: $blanc;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    margin: 0 5px;
}
.btn-close{
    background-color: $rouge;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 100px;
    top: 10px;
    line-height: 20px;
    cursor: pointer;
}    
input[type=text], input[type=number]{
    border: 1px solid $bleu-nuit;
    border-radius: 20px;
}
.btn-anim{
    &-green{
            position: relative;
            background: $vert;
            padding: 0.2em 1em;
            border: none;
            color: white;
            cursor: pointer;
            outline: none;
            overflow: hidden;
        &:before {
            --size: 0;
            content: '';
            position: absolute;
            left: var(--x);
            top: var(--y);
            width: var(--size);
            height: var(--size);
            background: radial-gradient(circle, #39c4068a 0%, #38811b 100%);
            transform: translate(-50%, -50%);
            transition: width 0.2s ease, height 0.2s ease;
        }
        &:hover:before {
            --size: 200px;
        }
        & span{
            position: relative;
        }
    }
    &-red{
        position: relative;
        background: $rouge;
        padding: 0.2rem 1rem;
        border: none;
        color: white;
        cursor: pointer;
        outline: none;
        overflow: hidden;
    &:before {
        --size: 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle, #af08088a 0%, #811b1b 100%);
        transform: translate(-50%, -50%);
        transition: width 0.2s ease, height 0.2s ease;
    }
    &:hover:before {
        --size: 200px;
    }
    & span{
        position: relative;
    }
}
}
.accordeon{
    line-height: 35px;
    margin-bottom: 50px;
    border-bottom: 2px solid $bleu-nuit;
    &-title{
        background-color: $blanc;
        border: 2px solid $bleu-nuit;
        border-bottom: none;
        margin: 0;
        padding: 0 50px;
        padding-left: 5px;
        p{
            margin: 0;
        }
        z-index: 3;
    }
    &-content{
        display: none;
        background-color: $bleu-ciel;
        z-index: -2;
        user-select: none;
        padding: 10px;
        p{
            margin: 0;
        }
    }
}
.modal-window{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    &__content {
        background-color: $blanc;
        margin: auto;
        border: 3px solid $bleu-nuit;
        width: 50%;
        top: 40%;
        left: 25%;
        position: absolute;
        border-radius: 20px;
        .onglet{
            background-color: $bleu-nuit;
            width: 100%;
            color: $blanc;
            border-radius: 15px 15px 0 0;
            height: 40px;
            text-align: center;
            line-height: 40px;
        }
        input#dataname{
            min-width: 730px;
            height: 40px;
        }
        .btn-group{
            margin-top: 35px;
            margin-bottom: 15px;
        }
    }
    div{
        .data-table{
            max-height: 300px;
            overflow-y: scroll;
            overflow-x: hidden;
            min-width: 660px;
            width: 50%;
            margin: 10px auto;
            table{
                border-collapse: collapse;
                width: 100%;
            }
            thead{
                background-color: $bleu-nuit;
                color: $blanc;
                text-align: center;
            }
            td{
                border: 1px solid $bleu-nuit;
               
            }
        }
    }
}

.birdView{
    img{
        height: auto;
        width: 50%;
    }
}
// #upload{
//     display:none
// }

g.infolayer{
    display: none;
}

.dropdown:hover .dropdown-content{
    display: flex;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    a{
        color: $bleu-nuit;
        line-height: 30px;
        padding: 0 5px;
        &:hover{
            background-color: $bleu-nuit;
            color: $blanc;
        }
    }
}
///////////Toggle sauvegarde auto
.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 20px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: $bleu-nuit;  
}

input:focus + .slider {
    box-shadow: 0 0 1px $bleu-nuit;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
////MENU Burger/////////

#menu_checkbox {
    display: none;
}
  
#menu_checkbox + label {
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    div {
        position: relative;
        top: 0;
        height: 7px;
        background-color: #fff;
        margin-bottom: 7px;
        transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
          0.3s ease right;
        border-radius: 2px;
    }
    div:first-child {
        transform-origin: 0;
    }
    div:last-child {
        margin-bottom: 0;
        transform-origin: 35px;
    }
    div:nth-child(2) {
        right: 0;
        width: 35px;
    }
}
  
  
  #menu_checkbox:checked 
  {
   
  
    & + label div:first-child {
        top: -3.5px;
        transform: rotateZ(45deg);
    }
  
    & + label div:last-child {
        top: 3.5px;
        transform: rotateZ(45deg);
    }
  
    & + label div:nth-child(2) {
        width: 52px;
        top: 0;
        right: 7px;
        transform: rotateZ(-45deg);
    }
}