<div class="container-interface">
    <div class="comparaison d-flex column align-start justify-center">
        <div class="col d-flex space-around">
            <div class="juxtapose">
                <img class="img1" src="./images/070992.png" alt="">
                <img class="img2" src="./images/19960722.png" alt="">
            </div>
            
            <div class="compare-zoom">
                <div class="image-import__view">
                    <div class="carte d-flex">
                        <div class="divImage">
                        </div>
                    </div>
                    <div class="toolbar d-flex space-between">
                        <span>
                            <img class="zoom" src="./images/zoom+.svg" alt="">
                            <img class="dezoom" src="./images/zoom-.svg" alt="">
                        </span>
                        <span>
                            <img class="brightnessPlus" src="./images/lum+.svg" alt="">
                            <img class="brightnessMoins" src="./images/lum-.svg" alt="">
                        </span>
                        <span>
                            <img class="contrastPlus" src="./images/contrast+.svg" alt="">
                            <img class="contrastMoins" src="./images/contrast-.svg" alt="">
                        </span>
                        <span>
                            <img class="initialize" src="./images/reset.svg" alt="">
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="difference">
    
            </div>
        </div>
    </div>
   
    <!-- <div class="infobar d-flex space-around align-center">
        <span>Sauvegarde auto</span>
        <span class="projet-name">Projet : XXX</span>
        <span>Date début projet : XXX</span>
    </div> -->
</div>