<div class="container">
    <div class="accueil accueil-connexion d-flex column align-center">
        <div class="accueil-connexion__form">
            <h3>Connexion</h3>
            <form action="" class="d-flex align-center justify-center column">
                <input type="email" class="form-label" name="email" id="email" placeholder="Entrez un email">
                <input type="password" class="form-label" name="mdp" id="mdp" placeholder="Entrez un mot de passe">
                <div class="d-flex space-between">
                    <span class="form-rappel">
                        <input type="checkbox" name="rappel" id="rappel">
                        <label for="rappel">Se rappeler de moi</label>
                    </span>
                    <a href="#">Mot de passe oublié</a>
                </div>
                <button type="submit"><a href="/openorcreate">Se connecter</a></button>
            </form>
            <p>Vous n'êtes pas encore inscrit ? <a href="#">Inscrivez vous</a></p>
            <div class="form-links">
                <a href="/didactiel">Voir le tutoriel</a>
                <a href="/">Changer la langue</a>
            </div>
        </div>
    </div>
</div>