<div class="preproject align-self-center d-flex align-center column space-around">
    <div class="preproject-row">
        <a href="/project">Ouvrir une image</a>
    </div>
    <div class="preproject-row">
        <a href="/project">Ouvrir une séquence d'image</a>
    </div>
</div>