<div class="container">
    <div class="preproject align-self-center d-flex align-center column space-around">
        <div class="preproject-row">
            <input id="upload" type="file"/>
            <a >Ouvrir une image</a><input id="inp" type="file">
            <img id="img" height="150">
        </div>
        <div class="preproject-row">
            <a href="/projectduo">Ouvrir une séquence d'image</a>
        </div>
    </div>
</div>