<div class="container-interface">
    <div class="datapanel">
        <div class="datapanel-content">
            <div class="datapanel-content__left">
                <div class="accordeon">
                    <div class="accordeon-title">Band 1</div>
                    <div class="accordeon-content">
                        <p>Minimum : 0.0</p>
                        <p>Maximum : 255.0</p>
                        <p>Means : 115.1105</p>
                        <p>StDev : 3325.8886</p>
                        <button class="name-band">Nommer la bande</button>
                    </div>
                    <div class="accordeon-title">Band 2</div>
                    <div class="accordeon-content">
                        <p>Minimum : 0.0</p>
                        <p>Maximum : 255.0</p>
                        <p>Means : 115.1105</p>
                        <p>StDev : 3325.8886</p>
                        <button class="name-band">Nommer la bande</button>
                    </div>
                    <div class="accordeon-title">Band 3</div>
                    <div class="accordeon-content">
                        <p>Minimum : 0.0</p>
                        <p>Maximum : 255.0</p>
                        <p>Means : 115.1105</p>
                        <p>StDev : 3325.8886</p>
                        <button class="name-band">Nommer la bande</button>
                    </div>
                </div>
                <div class="class-number">
                    Nombre de classe : 0
                </div>
            </div>
            <div class="datapanel-content__right">
                <div class="actual-relation">
                    <h3>Relation actuelle</h3>
                    <p>Nom : incroyable</p>
                    <p>Objets : 56064</p>
                    <p>attributs : 3</p>
                </div>
                <div class="histogram">
                    <h3>Histogramme</h3>
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="datapanel-menu">
            <button class="btn-sm btn-second">Voir les données</button>
            <button class="btn-sm btn-second">Graphique données</button>
            <button class="btn-sm btn-second">Prétraitement</button>
            <button class="btn-sm btn-second">Voir les commentaires</button>
            <button class="btn-sm btn-second">Filtrer les attributs</button>
            <button class="btn-sm btn-primary">Classifier</button>
        </div>
    </div>
    <div class="infobar d-flex space-around align-center">
        <span>Sauvegarde auto</span>
        <span class="projet-name">Projet : XXX</span>
        <span>Date début projet : XXX</span>
    </div>
</div>