<div class="container">
    <div class="accueil d-flex align-center justify-center column">
        <img class="logo" src="./images/F.png" alt="">
        <div class="accueil-didactiel__slider">
            <a href="/connexion">Content slider</a>
        </div>
    </div>
</div>