<div class="container">
    <div class="accueil accueil-langue d-flex justify-center align-center">
        <img class="logo" src="./images/F.png" alt="">
        <div class="accueil-langue__selection">
            <h3>Langue</h3>
            <ul>
                <li class="selected"><a href="/connexion"> <img src="./images/drapeaufr.png" alt=""> Français</a></li>
                <li><a href="/connexion"><img src="./images/drapeauang.png" alt=""> Anglais</a> </li>
            </ul>
        </div>
    </div>
</div>