<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>koa ejs</title>
        <link rel="stylesheet" href="./style/style.css">
        <link rel="stylesheet" href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css">
        <script src="https://kit.fontawesome.com/f5e5ba69e5.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <nav class="d-flex align-center space-around">
                <input type="checkbox" id="menu_checkbox">
                <label for="menu_checkbox">
                <div></div>
                <div></div>
                <div></div>
                </label>
                <div class="nav-logo">
                    <img src="./images/F.png" alt="Logo">
                </div>
                <div class="nav-links">
                    <ul class=" d-flex align-center space-between">
                        <li class="dropdown"><span>Projet</span>
                            <div class="dropdown-content d-flex column">
                                <a href="#">Historique</a>
                                <a href="#">Ouvrir un fichier > </a>
                                <a href="#">Ouvrir un projet</a>
                                <a href="#">Enregistrer l'image</a>
                                <a href="#">Supprimer le projet</a>
                                <span class="separation-lign"></span>
                                <a href="#">Fichier > </a>
                            </div>
                        </li>
                        <li class="dropdown"><span>Boîte à outils</span>
                        <div class="dropdown-content d-flex column">
                            <a href="#">Jeu de données</a>
                            <a href="#">Outils ROI > </a>
                            <a href="#">Outils Image ></a>
                        </div></li>
                        <li class="dropdown"><span>Import/Export</span>
                        <div class="dropdown-content d-flex column">
                            <a href="#">ARFF</a>
                            <a href="#">CSV</a>
                            <a href="#">OGR</a>
                        </div>
                        </li>
                        <li class="dropdown"><span>Vue</span>
                        <div class="dropdown-content d-flex column">
                            <a href="#">Zoom</a>
                            <a href="#">Luminosité</a>
                            <a href="#">Contraste</a>
                            <a href="#">Connecter birdview avec</a>
                            <a href="#">Réinitialisation modification visuelle</a>
                            <a href="#">Choisir RGB</a>
                            <a href="#">Réinitialiser</a>
                        </div></li>
                        <li class="dropdown"><span>Résultat</span>
                            <div class="dropdown-content d-flex column">
                                <a href="#">Code dans Python</a>
                                <a href="#">Sauvegarder Résultat</a>
                                <a href="#">Evaluation ROI</a>
                                <a href="#">Filtrer</a>
                                <a href="#">Segmentation</a>
                                <a href="#">Cluster hierarchique</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <ul class="nav-support d-flex space-between align-center">
                    <li>
                        <img src="./images/help.svg" alt="aide" title="Aide">
                    </li>
                    <li  class="dropdown">
                        <img src="./images/user.svg" alt="compte" title="Compte">
                        <div class="dropdown-content d-flex column">
                            <a href="#">Mes projets</a>
                            <a href="#">Déconnexion</a>
                        </div>
                    </li>
                    <li>
                        <img src="./images/parametres.svg" alt="parametres" title="Parametres">
                    </li>
                    <li>
                        <img src="./images/triangle.svg" alt="dropdown" title="Barre d'info">
                    </li>
                </ul>
            </nav>
        </header>
        <main class="d-flex">
            <aside class="d-flex column align-start display-none">

                <div class="aside-data">
                    <h3>Données</h3>
                    <p>Data example</p>
                </div>
                <div class="aside-image">
                    <h3>Images</h3>
                    <p>Image example</p>
                </div>
                <div class="aside-info">
                    <h3>Infos</h3>
                    <p>Infos example</p>
                </div>
                <div id="birdView" class="aside-birdview birdView">
                    <h3>Birdview</h3>
                </div>
            </aside>
            <%- body %>
        </main>
        <script src="//cdn.rawgit.com/dcodeIO/protobuf.js/6.X.X/dist/protobuf.js"></script>
        <script src='https://cdn.plot.ly/plotly-2.12.1.min.js'></script>
        <script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
        <script src="./js/classification-result.js" type="module"></script>
        <script src="./js/main.js" type="module"></script>
    </body>

</html>