<!DOCTYPE html>
<html>

<head>
    <title>koa ejs</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css">
    <script src="https://kit.fontawesome.com/f5e5ba69e5.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="d-flex justify-center align-center">
            <div class="nav-logo">
                <img src="./images/F.png" alt="Logo">
            </div>
            <div class="nav-links">
                <ul class=" d-flex align-center space-between">
                    <li>Fichier</li>
                    <li>Boîte à outils</li>
                    <li>Import/Export</li>
                    <li>Prétraitement</li>
                    <li>Vue</li>
                    <li>Résultat</li>
                </ul>
            </div>
            <div class="nav-support">
                <img src="./images/help.svg" alt="">
                <img src="./images/user.svg" alt="">
                <img src="./images/triangle.svg" alt="">
            </div>
        </nav>
    </header>
    <main class="d-flex">
        <aside class="d-flex column align-start">

            <div class="aside-data">
                <h3>Données</h3>
                <p>Data example</p>
            </div>
            <div class="aside-image">
                <h3>Images</h3>
                <p>Image example</p>
            </div>
            <div class="aside-info">
                <h3>Infos</h3>
                <p>Infos example</p>
            </div>
            <div id="birdView" class="aside-birdview birdView">
                <h3>Birdview</h3>
            </div>
        </aside>
        <%- body %>
    </main>
    <script src="./js/main.js" type="module"></script>
    <script src='https://cdn.plot.ly/plotly-2.12.1.min.js'></script>
</body>
<script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>


</html>