<div class="preproject align-self-center d-flex align-center column justify-center">
    
        <h3>Choisir un projet</h3>
    
    <div class="preproject-row openproject">
        <a href="/project">
            <div class="d-flex space-around">
                <span>Nom projet : XXX</span><span>Date projet : XXX</span>
            </div>
        </a>
    </div>
    <div class="preproject-row openproject"> 
        <a href="/project">
            <div class="d-flex space-around">
                <span>Nom projet : XXX</span><span>Date projet : XXX</span>
            </div>
        </a>
    </div>
    <div class="preproject-row openproject">
        <a href="/project">
            <div class="d-flex space-around">
                <span>Nom projet : XXX</span><span>Date projet : XXX</span>
            </div>
        </a>
    </div>
</div>