<div class="container">
<div class="preproject align-self-center d-flex align-center column justify-center">
    <div class="preproject-row">
        <a href="/openproject"><img src="./images/folder.svg" alt=""><span>Ouvrir un projet</span></a>
    </div>
    <div class="preproject-row">
        <a href="/createproject"><img src="./images/plus.svg" alt=""><span>Créer un projet</span></a>
    </div>
</div>
</div>