<div class="container-interface">
    <div class="image-import d-flex column align-center">
        <div class="image-import__view">
            <div class="image">
                <img src="./images/070992.png" alt="">
            </div>
            <div class="toolbar d-flex space-between">
                <span>
                    <img src="./images/zoom+.svg" alt="">
                    <img src="./images/zoom-.svg" alt="">
                </span>
                <span>
                    <img src="./images/lum+.svg" alt="">
                    <img src="./images/lum-.svg" alt="">
                </span>
                <span>
                    <img src="./images/contrast+.svg" alt="">
                    <img src="./images/contrast-.svg" alt="">
                </span>
                <span>
                    <img src="./images/reset.svg" alt="">
                </span>

            </div>
        </div>
        <div class="image-import__button">
            <button class="btn btn-primary"><a href="/generatedata">Générer des données</a></button>
        </div>
    </div>

    <div class="infobar d-flex space-around align-center">
        <span>Sauvegarde auto</span>
        <span class="projet-name">Projet : XXX</span>
        <span>Date début projet : XXX</span>
    </div>
</div>