<div class="container-interface d-flex column align-center space-between">
    <div class="image-import d-flex column align-center">
        <div class="image-import__view">
            <div class="carte">
                <div class="divImage">
                    
                </div>
            </div>
            <div class="toolbar d-flex space-between align-center">
                <span>
                    <i class="fa-solid fa-magnifying-glass-plus zoom" title="Zoomer"></i>
                    <i class="fa-solid fa-magnifying-glass-minus dezoom" title="Dézoomer"></i>
                </span>
                <span>
                    <img class="brightnessPlus" src="./images/lum+.svg" alt="" title="Augmenter la luminosité"/>
                    <img class="brightnessMoins" src="./images/lum-.svg" alt="" title="Diminuer la luminosité"/>
                </span>
                <span>
                    <img class="contrastPlus" src="./images/contrast+.svg" alt="" title="Augmenter le contraste">
                    <img class="contrastMoins" src="./images/contrast-.svg" alt="" title="Diminuer le contraste">
                </span>
                <span>
                    <img class="initialize" src="./images/reset.svg" alt="" title="Réinitialiser les modifications">
                </span>

            </div>
        </div>
        <div class="image-import__button">
            <button class="btn btn-primary"><a href="/generatedata">Générer des données</a></button>
        </div>
    </div>
    <div class="infobar d-flex space-around align-center">
        <span>Sauvegarde auto</span>
        <span class="projet-name">Projet : XXX</span>
        <span>Date début projet : XXX</span>
    </div>
</div>
