<div class="container-interface d-flex column align-center space-between">
    <div class="image-import d-flex column align-center justify-center">
        <div class="image-import-duo d-flex space-around">
            <div class="image-import__view">
                <div class="carte">
                    <div class="divImage">
                    </div>
                </div>
                <div class="toolbar d-flex space-between">
                    <span>
                        <img class="zoom" src="./images/zoom+.svg" alt="">
                        <img class="dezoom" src="./images/zoom-.svg" alt="">
                    </span>
                    <span>
                        <img class="brightnessPlus" src="./images/lum+.svg" alt="">
                        <img class="brightnessMoins" src="./images/lum-.svg" alt="">
                    </span>
                    <span>
                        <img class="contrastPlus" src="./images/contrast+.svg" alt="">
                        <img class="contrastMoins" src="./images/contrast-.svg" alt="">
                    </span>
                    <span>
                        <img class="initialize" src="./images/reset.svg" alt="">
                    </span>

                </div>
            </div>
            <div class="image-import__view">
                <div class="carte">
                    <div class="divImage">
                    </div>
                </div>
                <div class="toolbar d-flex space-between">
                    <span>
                        <img class="zoom" src="./images/zoom+.svg" alt="">
                        <img class="dezoom" src="./images/zoom-.svg" alt="">
                    </span>
                    <span>
                        <img class="brightnessPlus" src="./images/lum+.svg" alt="">
                        <img class="brightnessMoins" src="./images/lum-.svg" alt="">
                    </span>
                    <span>
                        <img class="contrastPlus" src="./images/contrast+.svg" alt="">
                        <img class="contrastMoins" src="./images/contrast-.svg" alt="">
                    </span>
                    <span>
                        <img class="initialize" src="./images/reset.svg" alt="">
                    </span>

                </div>
            </div>
        </div>
   
        <div class="image-import__button">
            <button class="btn btn-second"><a href="/compare">Comparer et superposer des images</a></button>
            <button class="btn btn-primary"><a href="/generatedata">Générer des données</a></button>
        </div>
        
    </div>
    <div class="infobar d-flex space-around align-center">
        <span>Sauvegarde auto</span>
        <span class="projet-name">Projet : XXX</span>
        <span>Date début projet : XXX</span>
    </div>
</div>