<div class="container-interface">
    <div class="results">
        <div class="onglet d-flex space-around align-center"><a href="/classification"><i class="fa-solid fa-circle-arrow-left"></i></a><span>Data panel</span><span class="btn-close">X</span></div>
        <div class="results-content">
            <div class="results-col d-flex space-around">
                <div class="results-col__left d-flex column space-between">
                    <div class="d-flex align-end">
                        <div class="toolbar d-flex column">
                            <i class="fa-solid fa-magnifying-glass-plus"></i>
                            <i class="fa-solid fa-magnifying-glass-minus"></i>
                        </div>
                        <div class="stats-results">
                            
                            <h2>Projection panel</h2>
                            <div class="d-flex ">
                                <div class="stats-results__section">
                                    <div>
                                        <label for="method">Méthode de visualisation</label>
                                        <select name="method" id="method">
                                            <option value="isoMDS">isoMDS</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="dimension">Dimension</label>
                                        <select name="dimension" id="dimension">
                                            <option value="2d">2D</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="visualiser">Visualiser</label>
                                        <select name="visualiser" id="visualiser">
                                            <option value="visualiser">Random</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="points-similaires">Plus de points similaires au cluster</label>
                                        <input type="range" name="points-similaires" id="points-similaires" value="10">
                                        <output name="points-similaires-output" id="points-similaires-output">10</output>
                                        <button class="btn-sm btn-primary">Refresh</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-start space-between">
                        <div class="view-mode">
                            <h3>View mode</h3>
                            <div>
                                <input type="radio" name="viewmode" id="normal">
                                <label for="normal">Normal Mode</label>
                            </div>
                            <div>
                                <input type="radio" name="viewmode" id="multi">
                                <label for="multi">Multi Mode</label>
                            </div>
                        </div>
                        <div class="button-menu d-flex align-start space-around">
                            <a href="/results-projection-panel"><button class="btn-sm btn-primary projection-panel">Projection Panel</button></a>
                            <a href="/results-centroids"><button class="btn-sm btn-second centroids">Centroids</button></a>
                            <a href="/results-cardinality"><button class="btn-sm btn-second cardinality">Cardinality</button></a>
                            <a href="/results-scatter-plot"><button class="btn-sm btn-second scatter-plot">Scatter plot</button></a>
                            <a href="/results-evaluation"><button class="btn-sm btn-second evaluation">Evaluation</button></a>
                            <a href="/results-similarity"><button class="btn-sm btn-second heat-map">Similarity HeatMap</button></a>
                            <a href="/results-weights"><button class="btn-sm btn-second weight">Weights</button></a>
                            <a href="/results-image"><button class="btn-sm btn-second image-result">Image result</button></a>
                            <a href="/results-historique"><button class="btn-sm btn-second historique">Historique</button></a>
                        </div>
                    </div>
                </div>
                <div class="results-col__right">
                    <%- include('./partials/results-right-side'); %>
                </div>
            </div>
        </div>
        
    </div>
    <div class="infobar d-flex space-around align-center">
        <span>Sauvegarde auto</span>
        <span class="projet-name">Projet : XXX</span>
        <span>Date début projet : XXX</span>
    </div>
</div>